* {
	box-sizing: border-box;
}

html, body {
	font-size: 16px;
	font-family: "jaf-facitweb";
	background: rgb(19,21,19);
	color: rgb(236,245,245);
	font-weight: 100;
}
h1 {
	font-size: 1.3em;
	letter-spacing: 2.3px;
	color: rgb(200,202,198);
	font-weight: 300;
	padding-bottom: 5px;
	margin-bottom: -10px;
}

h2 {
	font-size: 1em;
	letter-spacing: 2.3px;
	color: rgb(200,202,198);
	font-weight: 100;
	padding-bottom: 40px;

}

h3 {

}

h5 {
	letter-spacing: 1px;
	font-size: 0.8em;
	line-height: 1.4em;
	color: rgba(75,75,75,1);
	text-transform: uppercase;
}

h6 {
	float: right;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.8em;
}

p {
}

em {
	font-style: italic;
}

a {
	text-decoration: none;
	color: rgb(150,150,150);
}

a:hover {
	color: white;
} 

.img-centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.fa-instagram {
	padding-left: 2px;
	font-size: 1.3em;
}


.fa-facebook {
	font-size:  1.2em;
}



