<div class="slider-title">
    <h1>Anfibio</h1>
</div>

<div class="slider-bullets" style="font-size='2em'">
</div>

<div id="main-slider" class="slider">
    <img src="imagenes/anfibio/1.jpg" />
    <img src="imagenes/anfibio/2.jpg" />
    <img src="imagenes/anfibio/3.jpg" />
</div>
