<body>
	<div class="columns columns-guttered">
		<div class="column column-30">
			<div class="proyect">
				<a href="todoenorden">
					<img src="imagenes/index/333.png" />
					
					<div class="cover">
						<p>Todo en orden</p>	
					</div>
				</a>
			</div>
			<div class="proyect">
				<a href="archivo">
					<img src="imagenes/index/777.png" />
					<p>George Washington y Benito Juarez</p>
				</a>
			</div>		
		</div>

		<div class="column column-30">
			<div class="proyect">
				<a href="fosforo">
					<img src="imagenes/index/1.jpg" />
					<p>Fósforo y Mármol</p>
				</a>
			</div> 
			<div class="proyect">
				<a href="anfibio">
					<img src="imagenes/index/2.jpg" />
					<p>Anfibio</p>
				</a>
			</div>
			<div class="proyect">
				<a href="estructura">
					<img src="imagenes/index/3.jpg" />
					<p>Estructura</p>
				</a>
			</div>
			
		</div>		

		<div class="column column-40">
			<div class="proyect">
				<a href="433">
					<img src="imagenes/index/12.jpg" />
					<p>4'33''</p>
				</a>
			</div>
			<div class="proyect">
				<a href="torreon">
					<img src="imagenes/index/111.png" />
					<p>Torreón</p>
				</a>
			</div>
			
		</div>		
	</div>



</body>